    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/mainPage.css}" href="../static/css/mainPage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../static/images/apple-touch-icon.png"
        th:href="@{/images/apple-touch-icon.png}">
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <img src="../static/images/logo-bgless.png" th:src="@{/images/logo-bgless.png}" alt="Logo" width="50">
        <p>4Solver</p>
    </div>

    <div class="navbar-middle">
        <p>Play</p>
        <p>Practice</p>
    </div>


    <div class="navbar-right">
        <a href="/help" class="icon"><i class="fa fa-question-circle"></i></a>
        <a href="/settings" class="icon"><i class="fa fa-cog"></i></a>
        <div class="dropdown">
            <button class="dropdown-toggle">
                <i class="fa fa-user-circle icon" style="font-size:x-large"></i>
            </button>
            <div class="dropdown-menu">
                <a href="#">Profil</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="rounds">
        <div>
            <p>Your Position:</p>
            <select>
                <div th:each="p : ${Positionen}">
                    <option th:text="${p}"></option>
                </div>
            </select>
        </div>
        <div>
            <p>Previous round:</p>
            <button class="icon">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
        <div>
            <p>Next round:</p>
            <button class="icon">
                <i class="fa fa-arrow-right"></i>
            </button>
        </div>
    </div> -->


    <div class="main-layout">
        <nav class="tableSettings">
            <details id="settingsMenu">
                <summary><p class="fa fa-gear"> Change</p></summary>

                <form method="get" action="/table/format">
                    <input type="hidden" name="solution" th:value="${solution}" />
                    <input type="hidden" name="players" th:value="${players}" />

                    <p>Game Format</p>

                    <button type="submit" name="format" value="cash"
                            th:classappend="${format}=='cash' ? 'selected'">Cash</button>

                    <button type="submit" name="format" value="mtt"
                            th:classappend="${format}=='mtt' ? 'selected'">MTT</button>

                    <button type="submit" name="format" value="spinandgo"
                            th:classappend="${format}=='spinandgo' ? 'selected'">Spin & Go</button>
<!--
                    <button type="submit" name="format" value="husng"
                            th:classappend="${format}=='husng' ? 'selected'">HU SnG</button> -->
                </form>

                <form method="get" action="/table/format">
                    <input type="hidden" name="format" th:value="${format}" />
                    <input type="hidden" name="players" th:value="${players}" />

                    <p>Solutions</p>

                    <button type="submit" name="solution" value="HU"
                            th:classappend="${solution}=='HU' ? 'selected'">Heads-up</button>

                    <button type="submit" name="solution" value="ChipEV"
                            th:classappend="${solution}=='ChipEV' ? 'selected'">ChipEV</button>

                    <button type="submit" name="solution" value="ICM"
                            th:classappend="${solution}=='ICM' ? 'selected'">ICM</button>

                    <button type="submit" name="solution" value="Events"
                            th:classappend="${solution}=='Events' ? 'selected'">Events</button>
                </form>

                <form method="get" action="/table/format">
                    <input type="hidden" name="solution" th:value="${solution}" />
                    <input type="hidden" name="format" th:value="${format}" />

                    <p>Players</p>

                    <button type="submit"  name="players" value="3"
                            th:classappend="${players}==3 ? 'selected'">3</button>
                    <button type="submit"  name="players" value="4"
                            th:classappend="${players}==4 ? 'selected'">4</button>
                    <button type="submit"  name="players" value="5"
                            th:classappend="${players}==5 ? 'selected'">5</button>
                    <button type="submit"  name="players" value="6"
                            th:classappend="${players}==6 ? 'selected'">6</button>
                    <button type="submit"  name="players" value="7"
                            th:classappend="${players}==7 ? 'selected'">7</button>
                    <button type="submit"  name="players" value="8"
                            th:classappend="${players}==8 ? 'selected'">8</button>
                    <button type="submit"  name="players" value="9"
                            th:classappend="${players}==9 ? 'selected'">9</button>
                </form>
            </details>
        </nav>


        <div>
            <form method="post" action="/main/reset">
                <button class="icon" type="submit">
                    <i class="fa fa-refresh"></i>
                </button>
            </form>
        </div>


        <div class="action-blocks">
            <div class="action-block"
                th:each="p : ${allPlayers}"
                th:classappend="${currentPlayer != null and p.position == currentPlayer.position} ? ' active'">

                <form method="post" action="/main/action">
                    <input type="hidden" name="position" th:value="${p.position}">

                    <label for="stack">Stack:</label>
                    <input type="number" name="stack" value="100" min="0" step="5">
                    <u><p th:text="${p.position}"></p></u>

                <button type="submit" name="action" value="FOLD"
                    th:classappend="${p.action?.name() == 'FOLD'} ? ' selected'">Fold</button>

                <button type="submit" name="action" value="RAISE"
                    th:classappend="${p.action?.name() == 'RAISE'} ? ' selected'">Raise</button>

                <button type="submit" name="action" value="CALL"
                    th:classappend="${p.action?.name() == 'CALL'} ? ' selected'">Call</button>

                <button type="submit" name="action" value="ALLIN"
                    th:classappend="${p.action?.name() == 'ALLIN'} ? ' selected'">All-In</button>
                </form>
            </div>
        </div>

    </div>

    <table class="hand-range">
        <tbody>
            <tr><td class="pair">AA</td><td class="suited">AKs</td><td class="suited">AQs</td><td class="suited">AJs</td><td class="suited">ATs</td><td class="suited">A9s</td><td class="suited">A8s</td><td class="suited">A7s</td><td class="suited">A6s</td><td class="suited">A5s</td><td class="suited">A4s</td><td class="suited">A3s</td><td class="suited">A2s</td></tr>
            <tr><td>AKo</td><td class="pair">KK</td><td class="suited">KQs</td><td class="suited">KJs</td><td class="suited">KTs</td><td class="suited">K9s</td><td class="suited" >K8s</td><td class="suited" >K7s</td><td class="suited" >K6s</td><td class="suited">K5s</td><td class="suited">K4s</td><td class="suited">K3s</td><td class="suited">K2s</td></tr>
            <tr><td>AQo</td><td>KQo</td><td class="pair">QQ</td><td class="suited">QJs</td><td class="suited">QTs</td><td class="suited">Q9s</td><td class="suited">Q8s</td><td class="suited">Q7s</td><td class="suited">Q6s</td><td class="suited">Q5s</td><td class="suited">Q4s</td><td class="suited">Q3s</td><td class="suited">Q2s</td></tr>
            <tr><td>AJo</td><td>KJo</td><td>QJo</td><td class="pair">JJ</td><td class="suited">JTs</td><td class="suited">J9s</td><td class="suited">J8s</td><td class="suited">J7s</td><td class="suited">J6s</td><td class="suited">J5s</td><td class="suited">J4s</td><td class="suited">J3s</td><td class="suited">J2s</td></tr>
            <tr><td>ATo</td><td>KTo</td><td>QTo</td><td>JTo</td><td class="pair">TT</td><td class="suited">T9s</td><td class="suited">T8s</td><td class="suited">T7s</td><td class="suited">T6s</td><td class="suited">T5s</td><td class="suited">T4s</td><td class="suited">T3s</td><td class="suited">T2s</td></tr>
            <tr><td>A9o</td><td>K9o</td><td>Q9o</td><td>J9o</td><td>T9o</td><td class="pair">99</td><td class="suited">98s</td><td class="suited">97s</td><td class="suited">96s</td><td class="suited">95s</td><td class="suited">94s</td><td class="suited">93s</td><td class="suited">92s</td></tr>
            <tr><td>A8o</td><td>K8o</td><td>Q8o</td><td>J8o</td><td>T8o</td><td>98o</td><td class="pair">88</td><td class="suited">87s</td><td class="suited">86s</td><td class="suited">85s</td><td class="suited">84s</td><td class="suited">83s</td><td class="suited">82s</td></tr>
            <tr><td>A7o</td><td>K7o</td><td>Q7o</td><td>J7o</td><td>T7o</td><td>97o</td><td>87o</td><td class="pair">77</td><td class="suited">76s</td><td class="suited">75s</td><td class="suited">74s</td><td class="suited">73s</td><td class="suited">72s</td></tr>
            <tr><td>A6o</td><td>K6o</td><td>Q6o</td><td>J6o</td><td>T6o</td><td>96o</td><td>86o</td><td>76o</td><td class="pair">66</td><td class="suited">65s</td><td class="suited">64s</td><td class="suited">63s</td><td class="suited">62s</td></tr>
            <tr><td>A5o</td><td>K5o</td><td>Q5o</td><td>J5o</td><td>T5o</td><td>95o</td><td>85o</td><td>75o</td><td>65o</td><td class="pair">55</td><td class="suited">54s</td><td class="suited">53s</td><td class="suited">52s</td></tr>
            <tr><td>A4o</td><td>K4o</td><td>Q4o</td><td>J4o</td><td>T4o</td><td>94o</td><td>84o</td><td>74o</td><td>64o</td><td>54o</td><td class="pair">44</td><td class="suited">43s</td><td class="suited">42s</td></tr>
            <tr><td>A3o</td><td>K3o</td><td>Q3o</td><td>J3o</td><td>T3o</td><td>93o</td><td>83o</td><td>73o</td><td>63o</td><td>53o</td><td>43o</td><td class="pair">33</td><td class="suited">32s</td></tr>
            <tr><td>A2o</td><td>K2o</td><td>Q2o</td><td>J2o</td><td>T2o</td><td>92o</td><td>82o</td><td>72o</td><td>62o</td><td>52o</td><td>42o</td><td>32o</td><td class="pair">22</td></tr>
        </tbody>
    </table>

    <!-- <table class="hand-range">
        <tbody>
            <tr><td>AA</td><td>AKs</td><td>AQs</td><td>AJs</td><td>ATs</td><td>A9s</td><td>A8s</td><td>A7s</td><td>A6s</td><td>A5s</td><td>A4s</td><td>A3s</td><td>A2s</td></tr>
            <tr><td>AKo</td><td>KK</td><td>KQs</td><td>KJs</td><td>KTs</td><td>K9s</td><td>K8s</td><td>K7s</td><td>K6s</td><td>K5s</td><td>K4s</td><td>K3s</td><td>K2s</td></tr>
            <tr><td>AQo</td><td>KQo</td><td>QQ</td><td>QJs</td><td>QTs</td><td>Q9s</td><td>Q8s</td><td>Q7s</td><td>Q6s</td><td>Q5s</td><td>Q4s</td><td>Q3s</td><td>Q2s</td></tr>
            <tr><td>AJo</td><td>KJo</td><td>QJo</td><td>JJ</td><td>JTs</td><td>J9s</td><td>J8s</td><td>J7s</td><td>J6s</td><td>J5s</td><td>J4s</td><td>J3s</td><td>J2s</td></tr>
            <tr><td>ATo</td><td>KTo</td><td>QTo</td><td>JTo</td><td>TT</td><td>T9s</td><td>T8s</td><td>T7s</td><td>T6s</td><td>T5s</td><td>T4s</td><td>T3s</td><td>T2s</td></tr>
            <tr><td>A9o</td><td>K9o</td><td>Q9o</td><td>J9o</td><td>T9o</td><td>99</td><td>98s</td><td>97s</td><td>96s</td><td>95s</td><td>94s</td><td>93s</td><td>92s</td></tr>
            <tr><td>A8o</td><td>K8o</td><td>Q8o</td><td>J8o</td><td>T8o</td><td>98o</td><td>88</td><td>87s</td><td>86s</td><td>85s</td><td>84s</td><td>83s</td><td>82s</td></tr>
            <tr><td>A7o</td><td>K7o</td><td>Q7o</td><td>J7o</td><td>T7o</td><td>97o</td><td>87o</td><td>77</td><td>76s</td><td>75s</td><td>74s</td><td>73s</td><td>72s</td></tr>
            <tr><td>A6o</td><td>K6o</td><td>Q6o</td><td>J6o</td><td>T6o</td><td>96o</td><td>86o</td><td>76o</td><td>66</td><td>65s</td><td>64s</td><td>63s</td><td>62s</td></tr>
            <tr><td>A5o</td><td>K5o</td><td>Q5o</td><td>J5o</td><td>T5o</td><td>95o</td><td>85o</td><td>75o</td><td>65o</td><td>55</td><td>54s</td><td>53s</td><td>52s</td></tr>
            <tr><td>A4o</td><td>K4o</td><td>Q4o</td><td>J4o</td><td>T4o</td><td>94o</td><td>84o</td><td>74o</td><td>64o</td><td>54o</td><td>44</td><td>43s</td><td>42s</td></tr>
            <tr><td>A3o</td><td>K3o</td><td>Q3o</td><td>J3o</td><td>T3o</td><td>93o</td><td>83o</td><td>73o</td><td>63o</td><td>53o</td><td>43o</td><td>33</td><td>32s</td></tr>
            <tr><td>A2o</td><td>K2o</td><td>Q2o</td><td>J2o</td><td>T2o</td><td>92o</td><td>82o</td><td>72o</td><td>62o</td><td>52o</td><td>42o</td><td>32o</td><td>22</td></tr>
        </tbody>
    </table> -->


<script>
    // document.getElementById("settingsMenu").open = true;
    document.getElementById("settingsMenu").open = true;
</script>

</body>
</html>