<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <div class="navbar-left">
        <img src="../static/images/logo-bgless.png" th:src="@{/images/logo-bgless.png}" alt="Logo" width="50">
    </div>
    <div class="navbar-right">
        <a href="/help" class="icon"><i class="fa fa-question-circle"></i></a>
        <a href="/settings" class="icon"><i class="fa fa-cog"></i></a>
        <div class="dropdown">
            <button class="dropdown-toggle">
                <i class="fa fa-user-circle icon" style="font-size:x-large"></i> 
            </button>
            <div class="dropdown-menu">
                <a href="#">Profil</a>
                <a href="#">Logout</a>
            </div>
        </div>
    </div>
</div>

    <div>
        <p>Your Position:</p>
        <select>
            <option>UTG</option>
            <option>UTG1</option>
            <option>LJ</option>
            <option>HJ</option>
            <option>CO</option>
            <option>BTN</option>
            <option>SB</option>
            <option>BB</option>
        </select>
    </div><br>
    <button class="icon">
        <p>Previous round:</p>
        <i class="fa fa-arrow-left"></i>
    </button>
    <button class="icon">
        <p>Next round:</p>
        <i class="fa fa-arrow-right"></i>
    </button>

    <div class="actions">
        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>UTG</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>    
        </div>
    
        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>UTG1</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>    
        </div>

        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>LJ</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>    
        </div>

        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>HJ</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>    
        </div>
    
        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>CO</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>    
        </div>
    
        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>BTN</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>    
        </div>
    
        <div class="action-block">
            <form method="post" action="/main/action">
                <label for="BB" id="BB">BB:</label>
                <input type="text" name="BB" id="BB">
                <p><u>SB</u></p>
                <button type="submit" name="action" value="fold">Fold</button>
                <button type="submit" name="action" value="raise">Raise</button>
                <button type="submit" name="action" value="call">Call</button>
                <button type="submit" name="action" value="allin">All-In</button>
            </form>   
        </div>
    
        <div class="action-block">
            <label for="BB" id="BB">BB:</label>
            <input type="text" name="BB" id="BB">
            <form method="post" action="/main/action">
                <p><u>BB</u></p>
                <button type="submit">Fold</button>
                <button type="submit">Raise</button>
                <button type="submit">Call</button>
                <button type="submit">All-In</button>
            </form>    
        </div>
    </div>
    <button class="icon">
        <i  class="fa fa-refresh"></i>
    </button>
    <br>


    <button class="tablink" onclick="openPage('UTG', this, 'red')">UTG</button>
    <button class="tablink" onclick="openPage('UTG1', this, 'red')">UTG1</button>
    <button class="tablink" onclick="openPage('LJ', this, 'red')">LJ</button>
    <button class="tablink" onclick="openPage('HJ', this, 'red')">HJ</button>
    <button class="tablink" onclick="openPage('CO', this, 'red')">CO</button>
    <button class="tablink" onclick="openPage('BTN', this, 'green')">BTN</button>
    <button class="tablink" onclick="openPage('SB', this, 'blue')">SB</button>
    <button class="tablink" onclick="openPage('BB', this, 'orange')" id="defaultOpen">BB</button>
    
    <div id="UTG" class="tabcontent">
      <h3>UTG</h3>
      <p>Idiot reggin</p>
    </div>
    
    <div id="UTG1" class="tabcontent">
      <h3>UTG1</h3>
      <p>lol</p> 
    </div>
    
    <div id="LJ" class="tabcontent">
      <h3>LJ</h3>
      <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>
    
    <div id="HJ" class="tabcontent">
      <h3>HJ</h3>
      <p>Who we are and what we do.</p>
    </div>
    <div id="CO" class="tabcontent">
        <h3>CO</h3>
        <p>Who we are and what we do.</p>
    </div>

    <div id="BTN" class="tabcontent">
        <h3>BTN</h3>
        <p>Who we are and what we do.</p>
    </div>
    <div id="SB" class="tabcontent">
        <h3>SB</h3>
        <p>Who we are and what we do.</p>
    </div>
    
    <div id="BB" class="tabcontent">
        <h3>BB</h3>
        <p>Who we are and what we do.</p>
    </div>

    <div th:replace="fragments/cardTable :: tableFragment"></div>


    <script>
        function openPage(pageName,elmnt,color) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
          }
          document.getElementById(pageName).style.display = "block";
          elmnt.style.backgroundColor = color;
        }
        
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>
</body>
</html>