<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/css/ranges.css"
    th:href="@{/css/ranges.css}">
</head>
<body>
<h2 th:text="'Ranges: ' + ${scenario}">VIER</h2>
<table>
    <thead>
    <tr>
        <th>Hand</th>
        <th>Action</th>
        <th>EV</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="range : ${ranges}" th:class="${range.action}">
        <td th:text="${range.hand}">AsKh</td>
        <td th:text="${range.action}">RAISE</td>
        <td th:text="${range.ev}">0.5</td>
    </tr>
    </tbody>
</table>

