body{
    background-color: #2c2c2c;
    color: white;
}
tr{
    background-color: rgb(59, 104, 252);
}

/* Entfernt Spinner in allen modernen Browsern */
input[type="number"] {
  -moz-appearance: textfield;      /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;        /* Chrome, Safari, Edge */
  margin: 0;
}



.navbar {
    background-color: #1f1f1f;
    padding: 5px 15px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.logo {
    height: 30px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-middle{
    display: flex;
    gap: 50px;
}

.icon {
    color: #ce0a5b;
    background: none;
    border: none;
    font-size: x-large;
}

.icon:hover {
    color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu {
    display: none;
    position:absolute;
    right: 0;
    top: 35px;
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.action-blocks{
    display: flex;
    flex-wrap: wrap;
    background-color:#252525;
    border-radius: 10px;
}
.action-block {
    width: 140px;
    padding: 4px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #242424;
    font-family: arial, "lucida console", sans-serif;
}

.action-block input {
    display: flex;
    width: 50px;
    max-width: 100%;
    margin: 0;
    font-size: 0.8em;
    border-radius: 6px;
    border: 1px solid #000000;
    background-color: #333;
    color: white;
}

.action-block input:focus{
    outline: none;
    border: 2px solid #ce0a5b; /* wird momentan noch überschattet von einem orangenen Rand, warum auch immer */
}

.action-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2px 0;
    background-color: #4e4e4e2a;
    color: rgb(214, 214, 214);
    border: 1px solid black;
    border-radius: 6px;
    font-size: 0.85em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.action-buttons:hover {
    background-color: #ce0a5b;
    color: white;
}

.action-buttons.selected {
    background:#ce0a5b;
    color:#fff;
}
.active {
    border: 2px solid #ce0a5b;
    /* background-color: #e6ffe6; */
}

.action-labels{
    display: flex;
    justify-content: space-between;
}

.plus-minus{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 5px;
    border: none;
}

.plus-minus-input{
    display: flex;
    justify-content: center;
}

.buttons{
    display: inline-block;
}
.buttons p{
    color: #1f1f1f;
}

.tableSettings{
    width: auto;
    background-color: #1f1f1f;
    padding: 10px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.tableSettings a,
.tableSettings summary{
    display: inline-flex;
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.tableSettings button {
    background:#2a2a2a;
    color:#ddd;
    border:none;
    padding:6px 12px;
    margin:2px;
    border-radius:6px;
    cursor:pointer;
    transition:background 0.2s;
}

.tableSettings button:hover { background:#444; }

.tableSettings button.selected {
    background:#ce0a5b;
    color:#fff;
}
.tableSettings p{
    font-size: large;
}


details a{
    padding-left: 20px;
    background-color: #2a2a2a;
    font-size: 0.95em;
}

.hand-range {
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

.hand-range th,
.hand-range td {
    border: 1px solid #555;
    padding: 6px;
    width: 40px;
    height: 40px;
    font-size: 0.85em;
    font-weight: normal;
}

.hand-range td {
    color: white;
}

.pair{ background-color: #e53935; }

.suited{ background-color: #43a047; }